<p id="notice"><%= notice %></p>

<h2> <%= @current_user.level.capitalize %> Dashboard</h2>
<h3> <%= @current_user.name.titleize %> </h3> <br>

<body>
  <%case @current_user.level
    when 'admin' %>
      <%= link_to "Libraries", libraries_path %> <br>
      <%= link_to "Students", users_path(:level => 'students') %> <br>
      <%= link_to "Librarians", users_path(:level => 'librarians') %> <br>
      <%= link_to "Books", books_path %> <br>
      <%= link_to "Hold Requests", hold_requests_path(:list => 'Hold Requests') %> <br>
      <%= link_to "Special Collection Approval List", hold_requests_path(:list => 'Approve Requests') %> <br>
      <%= link_to "Checked Out Books", hold_requests_path(:list => 'Checked Out Books') %> <br>
      <%= link_to "Students with Overdue Fines", hold_requests_path(:list => 'Overdue Students') %> <br>
      <%= link_to "Profile", user_path(@current_user) %> <br>
    <%when 'student' %>
<!--      <%#= link_to "Users", books_path(university: current_user.university) %> <br>-->
      <%= link_to "Libraries", libraries_path %> <br>
      <%= link_to "Books", books_path %> <br>
      <%= link_to "Hold Requests", hold_requests_path(:list => 'Hold Requests') %> <br>
  <%= link_to "Books in Approval Wait List", hold_requests_path(:list => 'Approve Requests') %> <br>
      <%= link_to "Checked Out Books", hold_requests_path(:list => 'Checked Out Books') %> <br>
      <%= link_to "Profile", user_path(@current_user) %> <br>
    <%when 'librarian' %>
      <%= link_to "Profile", user_path(@current_user) %> <br>
      <% unless @current_user.library_id.nil? %>
        <%= link_to "Library", library_path(@current_user.library_id) %> <br>
        <%= link_to "Books", books_path %> <br>
        <%= link_to "Hold Requests", hold_requests_path(:list => 'Hold Requests') %> <br>
        <%= link_to "Special Collection Approval List", hold_requests_path(:list => 'Approve Requests') %> <br>
        <%= link_to "Checked Out Books", hold_requests_path(:list => 'Checked Out Books') %> <br>
        <%= link_to "Students with Overdue Fines", hold_requests_path(:list => 'Overdue Students') %> <br>
      <% end %>

    <%else %>
  <%end %>

</body>

