<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Ed Level:</b>
  <%= @student.ed_level %>
</p>

<p>
  <b>University:</b>
  <%= @student.university %>
</p>

<p>
  <b>Max Books:</b>
  <%= @student.max_books %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
