<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= form.label :name %>
  <%= form.text_field :name %><br /><br />
  
  <%= form.label :email %>
  <%= form.text_field :email %><br /><br />
  
  <%= form.label :password %>
  <%= form.password_field :password %><br /><br />
  
  <%= form.label :level %>
  <%= select("user", "level", ['', 'librarian', 'student']) %><br /><br />

  <%= form.label :library_id %>
  <%= select("user", "library_id", [""] + Library.all.collect{ |l| [ l.name, l.id ] }) %><br /><br />
  
  <%= form.label :ed_level %>
  <%= select("user", "ed_level", ["", "Undergraduate", "Masters", "Doctoral"]) %><br /><br />
  
  <%= form.label :university %>
  <%= select("user", "university", [""] + Library.all.collect{ |l| [ "#{l.university} - #{l.name}", l.university ] }) %><br /><br />
  
  <%= form.label :max_books %>
  <%= form.text_field :max_books %><br /><br />
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
