<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Level</th>
    <th>Ed Level</th>
    <th>University</th>
    <th>Max Books</th>
    <th>Library</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.level %></td>
        <td><%= user.ed_level %></td>
        <td><%= user.university %></td>
        <td><%= user.max_books %></td>
        <% if user.level == "librarian" %>
        <td><%= Library.find(user.library_id).name %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
