<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Level:</b>
  <%= @user.level %>
</p>
<p>
  <b>Ed Level:</b>
  <%= @user.ed_level %>
</p>
<p>
  <b>University:</b>
  <%= @user.university %>
</p>
<p>
  <b>Max Books:</b>
  <%= @user.max_books %>
</p>
<p>
  <% if @user.level == "librarian" %>
  <b>Library:</b>
  <%= Library.get_lib(@user).name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<% if @current_user.level == 'admin' %>
  <% case @user.level
    when 'student' %>
    <%= link_to 'Back', users_path(:level => 'students') %>
  <% when 'librarian' %>
    <%= link_to 'Back', users_path(:level => 'librarians') %>
  <% else %>
    <%= link_to 'Back', :home%>
  <% end %>
<% else %>
  <%= link_to 'Back', :home%>
<% end %>