<p id="notice"><%= notice %></p>

<h2>Listing Students</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Level</th>
    <th>Ed Level</th>
    <th>University</th>
    <th>Max Books</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.level %></td>
        <td><%= user.ed_level %></td>
        <td><%= user.university %></td>
        <td><%= user.max_books %></td>
        <td><%= link_to 'Details', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %> |
<%= link_to "Back", sessions_show_path%>
