<%#= form_for :library, url: libraries_path do |f| %>
<%= form_for @library do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @library.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :university %><br />
    <%= f.text_field :university %>
  </div>

  <div class="field">
    <%= f.label "Location (On Campus)" %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label "Maximum number of days a book can be borrowed" %><br />
    <%= f.number_field :max_days %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
