<%#= form_for :library, url: libraries_path do |f| %>
<%= form_for @library do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @library.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "*Library Name" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "*University" %><br />
    <%= f.text_field :university %>
    <%#= select("university", "university_id", User.all.collect{ |l| [ l.university, l.id ] }) %>
  </div>

  <div class="field">
    <%= f.label "*Location (On Campus)" %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label "*Maximum number of days a book can be borrowed" %><br />
    <%= f.number_field :max_days %>
  </div>

  <div>
    <%= f.label "*Overdue fines ($/day)" %> <br />
    <%= f.number_field :overdue_fines, value: number_to_currency(f.object.overdue_fines.to_f, delimiter: '', unit: ''), step: 0.5 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
