<h2>Listing Libraries</h2>

<table>
  <tr>
    <th>Name</th>
    <th>University</th>
    <th>Location</th>
    <th>Borrow period (days)</th>
    <th>Overdue fines ($/day)</th>
  </tr>

<% @libraries.each do |library| %>
  <tr>
    <td><%= library.name %></td>
    <td><%= library.university %></td>
    <td><%= library.location %></td>
    <td><%= library.max_days %></td>
    <td><%= library.overdue_fines %></td>
    <td><%= link_to 'Details', library %></td>
    <% unless  current_user.level == 'student' %>
      <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <% if current_user.level == 'admin' %>
        <td><%= link_to 'Delete', library, method: :delete, data: { confirm: 'This will delete all dependents too! Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tr>
  <%end%>
</table>

<br />

<%if current_user.level == 'admin' %>
  <%= link_to 'New Library', new_library_path%> |
<%end %>
<%= link_to "Back", sessions_show_path%>