<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @library.name %>
</p>
<p>
  <b>University: </b>
  <%= @library.university %>
</p>
<p>
  <b>Location: </b>
  <%= @library.location %>
</p>
<p>
  <b>Maximum days to borrow: </b>
  <%= @library.max_days %>
</p>
<p>
  <b>Overdue fines ($/day): </b>
  <%= @library.overdue_fines %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>

<!--<h2><%#= @library.name %></h2>-->
<!--<p><%#= @library.university %></p>-->
<!--<p><%#= @library.location %></p>-->
<!--<p><%#= @library.max_days %></p>-->
<!--<p><%#= @library.overdue_fines %></p>-->