<table>
  <tr>
    <th colspan="3"> <%= @book.title %> </th>
  </tr>
  <tr>
    <td style="text-align:center" colspan="3"> <%= @book.author %> </td>
  </tr>
  <tr>
    <td rowspan="9"> <%= image_tag(@book.cover, height: '210', width: '150') %> </td>
    <th style="text-align:right">ISBN:</th>
    <td><%= @book.isbn %></td>
  </tr>
  <tr>
    <th style="text-align:right">Language:</th>
    <td><%= @book.language %></td>
  </tr>
  <tr>
    <th style="text-align:right">Edition:</th>
    <td><%= @book.edition %></td>
  </tr>
  <tr>
    <th style="text-align:right">Published:</th>
    <td><%= @book.published.strftime('%m/%d/%Y') %></td>
  </tr>
  <tr>
    <th style="text-align:right">Subject:</th>
    <td><%= @book.subject %></td>
  </tr>
  <tr>
    <th style="text-align:right">Summary:</th>
    <td><%= @book.summary %></td>
  </tr>

  <tr>
  <th style="text-align:right">Location:</th>
  <td><%= @book.library.name + ' - ' + @book.library.university %></td>
  </tr>
  <tr>
    <th style="text-align:right">Copies:</th>
    <td><%= @book.copies.to_s + ' available' %></td>
  </tr>
  <tr>
    <th style="text-align:right">Approval?</th>
    <td><%= @book.special ? 'Required' : 'Not Required' %></td>
  </tr>
</table>