 <h2>Listing All Books </h2>
<!-- <br> <%#= params %>-->

<%= form_tag(books_path, method: :get) do %>
   <table>
     <tr>
       <th></th>
       <th><b>Title</b></th>
       <th><b>Author</b></th>
       <th><b>Subject</b></th>
       <th><b>Publish date</b></th>
     </tr>
     <tr>
       <th><b>Search by:  </b></th>
       <th> <%= text_field_tag :search_title, nil%> </th>
       <th> <%= text_field_tag :search_author, nil%> </th>
       <th> <%= text_field_tag :search_subject, nil%> </th>
       <th> <%= date_field_tag :search_published, nil%> </th>
     </tr>
   </table>
  <%= submit_tag 'Search' %>
<% end %>
 
<table>
  <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author(s)</th>
    <th>Language</th>
    <th>Published</th>
    <th>Edition</th>
    <th>Cover</th>
    <th>Subject</th>
    <th>Library</th>
    <th>Special Collection</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%  if !@books.nil? then @books.each do |book| %>
      <tr>
          <td><%= book.isbn %></td>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.language%></td>
          <td><%= book.published.strftime('%Y-%m-%d') %></td>
          <td><%= book.edition%></td>
          <td><%= image_tag(book.cover, height: '70', width: '50') %></td>
          <td><%= book.subject%></td>
          <td><%= book.library.name + '-' + book.library.university %></td>
          <td><%= book.special%></td>
        <%unless  current_user.level == 'student' %>
          <td><%= link_to 'Details', book %></td>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%else if current_user.university == book.library.university %>
          <%end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %> |
<%= link_to "Back", sessions_show_path%>