<p id="notice"><%= notice %></p>

<h2>Hold Requests</h2>

<table>
  <thead>
    <tr>
      <th>Folio</th>
      <th>Book title</th>
      <th>Book author</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @hold_requests.each do |hold_request| %>
      <% book = hold_request.get_book(hold_request.book_id) %>
      <tr>
        <td><%= hold_request.id %></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= hold_request.status %></td>
        <td><%= link_to 'Details', hold_request %></td>
        <td><%= link_to 'Delete', hold_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back", sessions_show_path%>
