<p id="notice"><%= notice %></p>

<h2>Hold Requests</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hold_requests.each do |hold_request| %>
      <tr>
        <td><%= hold_request.class %></td>
        <td><%= hold_request.id %></td>
        <td><%= hold_request.book_id %></td>
        <td><%= hold_request.user_id %></td>
        <td><%= link_to 'Show', hold_request %></td>
        <td><%= link_to 'Edit', edit_hold_request_path(hold_request.id) %></td>
        <td><%= link_to 'Destroy', hold_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back", sessions_show_path%>
