<p id="alert" style="color:Tomato;"><%= alert %></p>

<h2>Confirm Book Request</h2>

<% if @hold_request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@hold_request.errors.count, "error") %> prohibited this hold_request from being saved:</h2>

    <ul>
      <% @hold_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'book' %>

<%= button_to 'Create Request', hold_requests_path( hold_request:{user_id: @user.id,
                                                                       book_id: @book.id, } ), :method => :post  %>
<br>
<%= link_to 'Back', books_path %>
