<!DOCTYPE html>
<html>
  <head>
    <title>Library Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Library Management</h1>
      <%= yield %>
      <br><br>

    <%= link_to "Home", :home %> |
    <%= link_to "Logout", :logout %>
  </body>

</html>
